.your-collection-item-class:nth-child(even) {
    background-color: #ffffff; /* Example style */
    color: #666; /* Example style */
  }

/* .category-h1 > .word > .char {
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: bottom;
} */

.category-item-h2 > .word > .char {
  transition: 400ms cubic-bezier(0.075, 0.82, 0.165, 1);
  transform-origin: bottom;
}


div.btn-wrapper {
  transition: transform 0.3s ease-in-out;
}

div.btn-wrapper:hover .btn-1-text {
  transform: translateY(-34px);
}

