input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
  }
  
  .w-input[readonly] {
  background-color: transparent;
	}
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
  
  #nav-cart-icon:hover {
  	animation: jiggle ease-in-out 400ms infinite;
  }
  
  
input.w-input:focus {
    outline: none;
    border-color: #d87d4a #d87d4a #d87d4a; 
    box-shadow: none; /* Removes any shadow effect if applied */
}